:root {
    --clr-primary-300: hsl(231, 69%, 60%);
    --clr-primary-800: hsl(229, 31%, 21%);
    /* accent : red-500 */
    --clr-neutral: hsl(0, 0%, 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply py-3 px-5 rounded-lg font-medium text-sm border-2 shadow-md
}

.open-header {
    --clr-light: var(--clr-neutral);
    --clr-dark: var(--clr-primary-800);
    @apply bg-blue-800 fixed h-screen w-screen opacity-95
}

.active-tab::after {
    @apply content-[""] absolute left-1/3 right-1/3 md:left-0 md:right-0 bottom-0 h-1 bg-red-500 rounded
}


/* for blue pill shaped backgrounds */
.bg-pill::after{
    @apply content-[""] absolute top-1/4 bottom-0 right-0 h-48 w-1/2 bg-blue-300 -z-50 rounded-tl-full rounded-bl-full;
}
.features.bg-pill::after{
    @apply -scale-x-100 left-0 top-[53%]
}
@screen md{
    .bg-pill::after{
        @apply top-[30%] h-72 w-1/3
        }
    .features.bg-pill::after{
        @apply top-[60%]
        }
}